@import 'src/styles/app';

.textualCheckbox {
  .input {
    display: none;

    &:checked + .label {
      background-color: $primary-light;
      color: $primary;

      $categories: (
        'uiuxDesign': $uiux-design,
        'development': $development,
        'graphicDesign': $graphic-design,
        'webmarketing': $webmarketing,
        'cybersecurity': $cybersecurity,
        'data': $data,
        'audiovisual': $audiovisual,
      );

      @each $class, $variable in $categories {
        &.#{$class} {
          color: $variable;
        }
      }
    }
  }

  .label {
    display: block;
    background-color: rgba($primary-light, 0.25);
    padding: 0.625rem 1rem;
    border-radius: 0.25rem;

    transition: background-color $transition-duration,
      color $transition-duration;

    &:hover {
      cursor: pointer;
      background-color: $primary-light;
    }
  }
}
