{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": ["^[react|next]", "<THIRD_PARTY_MODULES>", "^[./]", "^@/constants/(.*)$", "^@/utils/(.*)$", "^@/services/(.*)$", "^@/components/(.*)$",  "^@/models/(.*)$", "^@/styles/(.*)$", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}