{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": ["react", "<THIRD_PARTY_MODULES>", "^[./]", "^@/constants/(.*)$", "^@/utils/(.*)$",  "^@/components/(.*)$",  "^@/models/(.*)$", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}