@import 'src/styles/app';

.dashboardSkeleton {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;

  .body {
    flex-grow: 1;
    overflow: hidden;
    display: flex;

    .aside {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .page {
      flex-grow: 1;
      overflow: auto;
    }
  }
}
