.notFoundDisplay {
  padding: 2.5rem;

  width: 100%;
  max-width: 100%;
  max-height: 100%;

  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: nowrap;

  .content {
    display: inline-flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .illustrationContainer {
    position: relative;
    height: 370px;
    min-height: 370px;
    max-height: 100%;
    width: 329px;
    min-width: 329px;
    max-width: 100%;
  }
}
