@import 'src/styles/app';

.inputContainer {
  @include style-input;
  display: flex;
  align-items: center;
  gap: 1rem;

  &.loading {
    pointer-events: none;
    opacity: 0.25;
  }

  .input {
    @include reset-input;
    flex-grow: 1;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875em;

    &[type='password'] {
      letter-spacing: 0.125rem;
    }
  }

  .showPasswordIconContainer {
    @include reset-button;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rules {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .rulesIndicatorContainer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;

    .indicator {
      flex-grow: 1;
      height: 4px;
      border-radius: 0.375rem;
      background-color: rgba($neutral-3, .2);

      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 0.375rem;
        background-color: transparent;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform $transition-duration ease-in-out;
      }

      &.valid::before {
        transform: scaleX(100%);
        transition: $transition-duration;
      }
    }
  }

  $colors: (
    'red': $alert,
    'orange': $warning,
    'green': $success,
  );

  @each $name, $color in $colors {
    &.#{$name} {
      .indicator::before {
        background-color: $color;
      }
      .passwordStrengthText {
        color: $color;
        transition: opacity $transition-duration;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}
