.projectsSection {
  .title {
    margin: 0rem 1.5rem;
  }
  .projectList {
    list-style: none;
    padding: 2rem 1.5rem 2.5rem;

    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
    overflow: auto;

    .loading {
      display: flex;
      align-items: center;
      font-size: 2rem;
    }
  }

  .notFoundContainer {
    padding: 2rem 1.5rem 2.5rem;
  }
}
