@import 'src/styles/app';

.loginPage {
  padding: 5rem;

  @include media-breakpoint-down(md) {
    padding: 2.5rem;

    @include media-breakpoint-down(sm) {
      padding: 1.5rem;
    }
  }

  .head {
    margin-bottom: 2.5rem;

    .heading {
      margin-bottom: 1.5rem;
    }
  }
}
