@import '../vendor/bootstrap';

// Color styles

// Neutral
$neutral: black;
$neutral-2: white;
$neutral-2-bis: #f9f9fb;
$neutral-3: #9597ae;

// Primary
$primary: #2d66f4;
$primary-light: #eaf0ff;
$primary-dark: #0d3cb0;

// System
$alert: #e02b1d;
$alert-light: #ffefef;
$success: #009262;
$warning: #f5ad20;

// Domains
$uiux-design: #16a79a;
$development: #f89b1b;
$graphic-design: #9e97ff;
$webmarketing: #7abf45;
$cybersecurity: #66b9e8;
$data: #e8acea;
$audiovisual: #9d90eb;

$transition-duration: 300ms;
