@import 'src/styles/app';

.skillTag {
  @include text-no-wrap;
  padding: 0.5rem 1rem;
  background-color: $primary-light;
  border-radius: .25rem;
  color: $primary;

  text-transform: capitalize;
}