@import 'src/styles/variables';

@mixin style-input {
  display: block;
  width: 100%;
  border: 1px solid $neutral-3;
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
  background-color: $neutral-2;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125em;

  transition: border-color $transition-duration;

  &:hover, &:active, &:focus {
    border-color: $primary;
  }

  &[type="password"] {
    letter-spacing: .25rem;
  }
}
