@import 'src/styles/app';

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  overflow: auto;

  .item {
    line-height: 1rem;
    padding: 0.75rem 0;

    &:not(:first-of-type)::before {
      content: '/';
      padding: 0rem 0.25rem;
      color: $neutral-3;
    }

    > a {
      line-height: 1rem;
      color: $neutral-3;
      transition: color $transition-duration;

      &:hover {
        color: $neutral;
      }

      &.active {
        pointer-events: none;
        color: $neutral;
      }
    }
  }
}
